.blog-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date {}

.post-title {}

.post-preview {}

.read-more {}