.blog-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.blog-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date {
    font-size: 0.8rem;
    margin: 0;
}

.post-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    color: #033A3C;
}

.post-preview {
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
}

.read-more {
    text-decoration: double;
    font-weight: bold;
    color: #23332f;
    margin-top: 10px;
}